In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.utils import resample

import seaborn as sns

df = pd.read_csv("titanic-passengers.csv", sep=";")

# Preprocessing the data
# Replacing null age with mean
df['Age'].fillna((df['Age'].median()), inplace=True)

# Dropping Cabin coulmn since most of it is blank
df.drop(['Cabin'], axis = 1, inplace=True)
df['Fare'] = df['Fare'].round(0) 
df = pd.get_dummies(df, columns =['Sex','Pclass', 'Survived', 'Embarked'], drop_first=True)

df.drop(['Name'], axis = 1, inplace=True)
df.drop(['Ticket'], axis = 1, inplace=True)
df.drop(['PassengerId'], axis = 1, inplace=True)
df.head()

,Age,SibSp,Parch,Fare,Sex_male,Pclass_2,Pclass_3,Survived_Yes,Embarked_Q,Embarked_S
0,28.0,0,0,13.0,1,1,0,0,0,1
1,25.0,0,0,8.0,1,0,1,0,0,1
2,20.0,0,0,8.0,1,0,1,0,0,1
3,29.0,0,4,21.0,0,0,1,0,0,1
4,31.0,1,0,52.0,1,0,0,0,0,1

In [28]:
X = df.drop("Survived_Yes", axis=1)
y = df["Survived_Yes"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.30,random_state=50)

logmodel = LogisticRegression(random_state = 50)
logmodel.fit(X_train, y_train)

pred = logmodel.predict(X_test)
pred

C:\Users\youss\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0], dtype=uint8)

In [25]:
X_test.head()

,Age,SibSp,Parch,Fare,Sex_male,Pclass_2,Pclass_3,Embarked_Q,Embarked_S
558,44.0,0,1,58.0,0,0,0,0,0
547,24.0,0,0,13.0,1,1,0,0,1
494,32.0,0,0,8.0,1,0,1,0,1
679,28.0,0,0,0.0,1,1,0,0,1
7,1.0,0,2,16.0,0,0,1,0,0